.form-container {
    display:flex;
    flex-direction: column;
    max-width: 768px;
}
.text-input{
    margin-bottom: 0.8rem;
}
.buttons-wrapper{
    display:flex;
    justify-content: flex-end;
}

.custom-button{
    margin: 1rem 0.5rem;
}

.label{
    margin: 0.5rem 0;
    color:#495057;
    font-weight: 600;
}
.header {
     
    font-size: 2.5rem;
    color:#495057;
}
.container {
    padding-left: 1rem;
}
.error-group {
    display: flex;
    flex-direction: column;
}
.invalid-input {
    color: red;
    margin-bottom: 0.3rem;
}