<div>
    <h1>
        Import book from Google API
    </h1>
</div>
<form [formGroup]="importForm" class="form-container">
    <label class="label" for="title">Title</label>
    <input id="title" class="text-input" [ngClass]="{ 'ng-invalid ng-dirty': submitted && form.title.errors }" placeholder="Title"
        type="text" formControlName="title" pInputText />
    <label class="label" for="author">Author</label>
    <input id="author"class="text-input" [ngClass]="{ 'ng-invalid ng-dirty': submitted && form.author.errors }"
        placeholder="Author" type="text" formControlName="author" pInputText />
    <label class="label" for="date">Publish Date</label>
    <input id="date"class="text-input" placeholder="Publish Date (YYYY-MM-DD)"type="text" formControlName="publishDate" pInputText/>
    <label class="label" for="isbn">ISBN Number</label>
    <input id="isbn"class="text-input" placeholder="ISBN number" type="text" formControlName="isbnNum" pInputText />
    <label class="label" for="page">Page Count</label>
    <input id="page"class="text-input" placeholder="Page count" type="text" formControlName="pageCount" pInputText />
    <label class="label" for="cover">Cover Link</label>
    <input id="cover"class="text-input" placeholder="Cover link" type="text" formControlName="coverLink" pInputText />
    <label class="label" for="language">Language</label>
    <input id="language" class="text-input" placeholder="Language" type="text" formControlName="language" pInputText />
    <div class="buttons-wrapper">    
        <button pButton pRipple type="button" label="Submit" class="custom-button" (click)="onSubmit()"></button>
        <button pButton pRipple type="button" label="Cancel" class="p-button-danger custom-button" (click)="onCancel()"></button>
        <button pButton pRipple type="button" label="Save Imported Books" class="custom-button" (click)="onSave()"></button>
    </div>
</form>

<p-table #dt1 *ngIf="books" styleClass="p-datatable-gridlines" responsiveLayout="scroll" [value]="books" [globalFilterFields]="['book.author','book.title','book.language']">

    <ng-template pTemplate="header">
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Publish Date</th>
            <th>ISBN Number</th>
            <th>Page Count</th>
            <th>Cover Link</th>
            <th>Language</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-book>
        <tr>
            <td>{{book.title}}</td>
            <td>{{book.author}}</td>
            <td>{{book.publish_date | date:'MM/dd/yyyy'}}</td>
            <td>{{book.isbn_num}}</td>
            <td>{{book.page_count}}</td>
            <td>{{book.cover_link}}</td>
            <td>{{book.language}}</td>
        </tr>
    </ng-template>
</p-table>
