<div class="container">
    <div>
        <h1 class="header">
            Add new book
        </h1>
    </div>
    <form [formGroup]="addForm" class="form-container">
        <label class="label" for="title">Title</label>
        <div class="error-group">
            <div *ngIf="submitted && form.title.errors">
                <p class="invalid-input">
                    Title is required
                </p>
            </div>
            <input class="text-input" [ngClass]="{ 'ng-invalid ng-dirty': submitted && form.title.errors }" type="text"
                formControlName="title" pInputText />
        </div>
        <label class="label" for="author">Author</label>
        <div class="error-group">
            <div *ngIf="submitted && form.title.errors">
                <p class="invalid-input">
                    Author is required
                </p>
            </div>
            <input class="text-input" [ngClass]="{ 'ng-invalid ng-dirty': submitted && form.author.errors }" type="text"
                formControlName="author" pInputText />
        </div>
        <label class="label" for="date">Publish Date</label>
        <div class="error-group">
            <div *ngIf="submitted && form.title.errors">
                <p class="invalid-input">
                    Publish Date is required
                </p>
            </div>
            <input class="text-input" [ngClass]="{ 'ng-invalid ng-dirty': submitted && form.author.errors }"
                placeholder="YYYY-MM-DD" type="text" formControlName="publishDate" pInputText />
        </div>
        <label class="label" for="isbn">ISBN Number</label>
        <input class="text-input" type="text" formControlName="isbnNum" pInputText />
        <label class="label" for="page">Page Count</label>
        <input class="text-input" type="text" formControlName="pageCount" pInputText />
        <label class="label" for="cover">Cover Link</label>
        <input class="text-input" type="text" formControlName="coverLink" pInputText />
        <label class="label" for="language">Language</label>
        <input class="text-input" type="text" formControlName="language" pInputText />
        <div class="buttons-wrapper">
            <button pButton pRipple type="button" label="Submit" class="custom-button" (click)="onSubmit()"></button>
            <button pButton pRipple type="button" label="Cancel" class="p-button-danger custom-button"
                (click)="onCancel()"></button>
        </div>
    </form>
</div>