.form-container {
    display:flex;
    flex-direction: column;
    max-width: 768px;
    margin-bottom: 2rem;
}
.text-input{
    margin-top: 0.2rem;
}
.buttons-wrapper{
    display:flex;
    justify-content: flex-end;
}
.p-button-rounded {
    margin: 0.5rem;
}
.custom-button{
    margin: 1rem 0.5rem;
}
.label{
    margin: 0.5rem 0;
    color:#495057;
    font-weight: 600;
}
.header {
    font-size: 2.5rem;
    color:#495057;
}
.container {
    padding-left: 1rem;
}
:host ::ng-deep .spinner {
    display: flex;
    justify-content: center;
    margin-top: 4rem;
    width: 150px; 
    height: 150px;
}
