.form-container {
    display:flex;
    flex-direction: column;
    max-width: 768px;
}
.text-input{
    margin-top: 1rem;
}
.buttons-wrapper{
    display:flex;
    justify-content: flex-end;
}

.custom-button{
    margin: 1rem 0.5rem;
}
.label{
    margin-top: 1rem;
}
